.table-fixed{
    table-layout: fixed;
}
.truncate-cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.width-100{
    width: 100%;
}

.text-paragraph{
    white-space: break-spaces;
}

a:not(.btn){
    color: #212529 !important;
    background-color: transparent;
}

a:hover:not(.btn){
    color: #0056b3 !important;
    background-color: transparent;
}

@media (max-width: 1399px) {
    .table col {
      width: 135px; /* Allow columns to stack vertically */
    }
  }