.table-fixed{
    table-layout: fixed;
}

.x-scroll{
    width: 80vw !important;
    overflow-x: scroll;
}

.scrollable-dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
}

.truncate-cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.width-100{
    width: 100%;
}

.text-paragraph{
    white-space: break-spaces;
    word-wrap: break-word;
}

a:not(.btn){
    color: #212529 !important;
    background-color: transparent;
}

a:hover:not(.btn){
    color: #0056b3 !important;
    background-color: transparent;
}

.fs-default{
    font-size: 1rem;
}

.item {
    position:relative;

    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:-24px;
    top:10px;
    background:red;
    text-align: center;
    border-radius: 1rem;
    color:white;
    padding:0rem 0.38rem;
    font-size:0.7rem;
}

.event-logo-container {
    position: relative;
    content: "";
    display: block;
    padding-bottom: 100%;
}

.event-logo-container .img-thumbnail
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 1399px) {
    .table col {
      width: 135px;
    }
  }